USE [master]
GO
/****** Object:  Database [BDS_SisGest]    Script Date: 13/12/2021 22:45:46 ******/
CREATE DATABASE [BDS_SisGest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDS_SisGest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\BDS_SisGest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDS_SisGest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\BDS_SisGest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDS_SisGest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDS_SisGest]
GO
/****** Object:  Table [dbo].[TBL_Alumno]    Script Date: 13/12/2021 22:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Alumno](
	[ALM_Nombre] [nchar](50) NULL,
	[ALM_Apellidos] [nchar](50) NULL,
	[ALM_Creditos] [int] NULL,
	[PK_ALM_IdAlumno] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_ALM_IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Materia]    Script Date: 13/12/2021 22:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Materia](
	[MTR_Nombre] [nchar](50) NULL,
	[MTR_Modulo] [nchar](50) NULL,
	[MTR_Curso] [nchar](50) NULL,
	[FK_PGM_IdPrograma] [int] NULL,
	[PK_MTR_IdMateria] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_MTR_IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Materia_Has_Alumno]    Script Date: 13/12/2021 22:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Materia_Has_Alumno](
	[FK_MTR_IdMateria] [int] NULL,
	[FK_ALM_IdAlumno] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Profesor]    Script Date: 13/12/2021 22:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Profesor](
	[PFS_Nombres] [nchar](50) NULL,
	[PFS_Apellidos] [nchar](50) NULL,
	[PFS_Especialidad] [nchar](50) NULL,
	[PFS_Cargo] [nchar](50) NULL,
	[FK_PGM_IdPrograma] [int] NULL,
	[PK_PFS_IdProfesor] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_PFS_IdProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Programa]    Script Date: 13/12/2021 22:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Programa](
	[PGM_Nombre] [nchar](50) NOT NULL,
	[PGM_Duracion] [int] NULL,
	[PGM_Costo] [int] NULL,
	[PGM_Aula] [nchar](50) NULL,
	[PK_PGM_IdPrograma] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_PGM_IdPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_Materia]  WITH CHECK ADD FOREIGN KEY([FK_PGM_IdPrograma])
REFERENCES [dbo].[TBL_Programa] ([PK_PGM_IdPrograma])
GO
ALTER TABLE [dbo].[TBL_Materia_Has_Alumno]  WITH CHECK ADD FOREIGN KEY([FK_ALM_IdAlumno])
REFERENCES [dbo].[TBL_Alumno] ([PK_ALM_IdAlumno])
GO
ALTER TABLE [dbo].[TBL_Materia_Has_Alumno]  WITH CHECK ADD FOREIGN KEY([FK_MTR_IdMateria])
REFERENCES [dbo].[TBL_Materia] ([PK_MTR_IdMateria])
GO
ALTER TABLE [dbo].[TBL_Profesor]  WITH CHECK ADD FOREIGN KEY([FK_PGM_IdPrograma])
REFERENCES [dbo].[TBL_Programa] ([PK_PGM_IdPrograma])
GO
USE [master]
GO
